*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.section1{
    width: 98%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    }
.section2{
        width: 98%;
        padding: 0px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
 }


    .insignia{
        width: 70px;
       height: 70px;
    }
        
    .ib{
        width: 70px;
        height: 70px;
    }
    .menu{
        padding-top: 30px;
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
     }    
.section1 div{
    padding: 20px;
}


@media (min-width:320px){
   
    .menu div {
        margin-top: 0px;
        padding: 10px;
        display: flex;
    }
    .link1{
        width: 100px;
        height: 55px;
    }
    .link2{
        width: 100px;
        height: 55px;
    }
     .link3 {
        width: 150px;
        height: 55px;
    }
  

}
@media(min-width:768px){
   
 
    
}

@media(min-width:1024px){
       
    .logo1{
        width: 630px;
        height: 330px;
    }
    .logo2{
        width: 330px;
        height: 330px;
    } 
   
     .menu div {
        margin-top: -30px;
        padding: 5px;
        display: flex;
    }
    .link1{
        width: 140px;
        height: 180px;
    }
    .link1:hover{
        width: 150px;
        height: 190px;
    }
    .link2{
        width: 240px;
        height: 180px;
    }
    .link2:hover{
        width: 250px;
        height: 190px;
    }
     .link3 {
        width: 230px;
        height: 180px;
    }
    .link3:hover {
        width: 240px;
        height: 190px;
    }
    
    

}